<!DOCTYPE html>
<html>

<head>
  <link href="{{ url_for('static', filename='css/svg.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="main">
    <div id="snackbar"></div>
    <div class="tool-menu">
      <button type="button" onclick="toRoutingTemplate()">Torus Network</button>
      <button type="button" onclick="toPackageTrasmitt()">Torus Packages Transmission</button>
      <button type="button" onclick="toCirculant()">DGN Circulant</button>
      <button type="button" onclick="toDGN()">Dense Gaussian Network</button>
    </div>
    <hr>
    <div class="tool-bar">
      {% block content %} {% endblock %}
    </div>
    <div class="content" id="content" style="margin-top:8px;">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000">
      </svg> -->
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  {% block js %}{% endblock %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>