{% extends 'index.html' %}
{% block content %}
    <input type="number" id="m_val" placeholder="輸入M" />
    <input type="number" id="n_val" placeholder="輸入K" />
    <input type="text" id="destination" placeholder="輸入Destination" required />
    <div class="tooltip">
        <button type="button" onclick="getCIST()">Generate</button>
        <span class="tooltiptext">請輸入前兩項M*K及Destination</span>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/svg.js') }}"></script>
{% endblock %}