<!DOCTYPE html>
<html>

<head>
  <link href="{{ url_for('static', filename='css/svg.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="main">
    <div class="tool-bar">
      <input type="number" id="m_val" placeholder="輸入M" />
      <input type="number" id="n_val" placeholder="輸入N" />
      <input type="text" id="destination" placeholder="輸入Destination" />
      <!-- <button type="button" onclick="render()">Generate</button> -->
      <button type="button" onclick="getCIST()">Generate</button>
      <input type="text" id="sink_num" placeholder="輸入" />
      <button type="button" onclick="getRandom()">Random</button>
      <button type="button" onclick="getPeriod()">SendPackege</button>
      <button type="button" onclick="getRandomPeriod()">RandomSend</button>

    </div>
    <div class="content" id="content" style="margin-top:8px;">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000">
      </svg> -->
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/svg.js') }}"></script>
</body>

</html>