<!DOCTYPE html>
<html>

<head>
  <link href="{{ url_for('static', filename='css/svg.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="main">
    <div id="snackbar"></div>
    <div class="tool-bar">
      <input type="number" id="m_val" placeholder="輸入M" />
      <input type="number" id="n_val" placeholder="輸入K" />
      <input type="text" id="destination" placeholder="輸入Destination" required/>
      <div class="tooltip">
        <button type="button" onclick="getCIST()">Generate</button>
        <span class="tooltiptext">請輸入前兩項M*K及Destination</span>
      </div>
      <input type="text" id="sink_num" placeholder="輸入" />
      <div class="tooltip">
        <button type="button" onclick="getRandom()">Random</button>
        <span class="tooltiptext">產出隨機點到Destination使用之邊統計</span>
      </div>
      <div class="tooltip">
        <button type="button" onclick="getPeriod()">SendPackege</button>
        <span class="tooltiptext">產出隨機點到給定Destination路徑之各時間點使用之邊統計</span>
      </div>
      <div class="tooltip">
        <button type="button" onclick="getRandomPeriod()">RandomSend</button>
        <span class="tooltiptext">產出隨機點到隨機Destination使用之各時間點路徑之邊統計</span>
      </div>

    </div>
    <div class="content" id="content" style="margin-top:8px;">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000">
      </svg> -->
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/svg.js') }}"></script>
</body>

</html>