{% extends 'index.html' %}
{% block content %}
<div>
    <h1>Torus Packages Transmission</h1>
</div>
<div class="parameter-bar">
    <div>
        <label>M:</label>
        <input type="number" id="m_val" min="3" value="3" placeholder="輸入M" />
    </div>
    <div>
        <label>K:</label>
        <input type="number" id="n_val" min="3" value="3" placeholder="輸入K" />
    </div>
    <div>
        <label>Pairs:</label>
        <input type="number" id="sink_num" min="1" value="1" placeholder="輸入數" />
    </div>
    <div>
        <label>Times:</label>
        <input type="number" id="times_num" min="1" value="1" placeholder="輸入數" />
    </div>
    <div class="tooltip">
        <button type="button" onclick="getRandomPeriod()">RandomSend</button>
        <span class="tooltiptext">產出隨機Source到隨機Destination各時間點使用之路徑邊統計</span>
    </div>
</div>
<div style="margin-top: 8px;">
    <div>
        <label>*Pairs: 隨機設定Source與Destination對數，不得大於點個數。例:給定3，即取得3對任意Source到Destination之路徑</label>
    </div>
    <div style="margin-top: 4px;">
        <label style="margin-top: 8px;">*Times: 設定要產生多少時間條，模擬每個時間點都有新的傳輸產生。例:設定3，在第2、3個時間點時會以Pairs數隨機產生新的傳輸。</label>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/svg.js') }}"></script>
{% endblock %}